$padding = 5px
.species-length-form
    margin-top $padding
    .alert
        margin-bottom $padding
        padding $padding
    .input-group-addon
        padding-left $padding
        padding-right $padding
    .input-group
        margin-left $padding
    input.form-control, select.form-control
        padding $padding
