.DS_Store
.grunt/
deploy
dist/
node_modules/
secrets.json
src/
secrets.py
*.pyc
scripts/DATABASE.sde

# pro project
maps/maps.gdb
maps/scratch
maps/Index

.env
functions/.secret.local

# firebase
*-debug.log
emulator_data/
