# dependencies
node_modules

# testing
/coverage

# production
/build
/deploy
/dist

# secrets
*.local
*.odc
*.pyc
*.sde
swq_secrets.py

# misc
.eslintcache
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# deploy
/.firebase
/public/assets

# original app
/_src

# firebase emulators
*.log
emulator_data

*storybook.log