<div>
    <p>This can take a few minutes to process...</p>
    <div class="form-inline">
        <label>Format: </label>
        <select class="form-control" data-dojo-attach-point="formatSelect">
            <option value="csv">CSV</option>
            <option value="fgdb">File Geodatabase</option>
        </select>
        <button class="btn btn-primary ladda-button"
            data-style="zoom-out"
            data-dojo-attach-event="click: onClick"
            data-dojo-attach-point="btn">
            <span class="ladda-label">Download</span>
        </button>
    </div>
    <div class="alert alert-info hidden"
        data-dojo-attach-point="linkContainer">
        <a href="" data-dojo-attach-point="link">Click here to download your data</a>
    </div>
</div>
