@import '../../dijit/themes/tundra/tundra.css'
@import '../../esri/css/esri.css'
@import '../../agrc/resources/map/BaseMap.css'
@import '../../bootstrap/dist/css/bootstrap.css'
@import '../../dgrid1/css/dgrid.css'
@import '../../ladda-bootstrap/dist/ladda-themeless.css'
@import '../../../src/toaster/src/resources/Toaster'
@import '../../../src/layer-selector/resources/LayerSelector'
@import '../../../src/sherlock/resources/Sherlock'
@import 'FilterContainer'
@import 'Grid'
@import 'Download'
@require 'vars.styl'

body,
html,
.app
    color $text-color
    font-family Arial, sans-serif
    height 100%
    margin 0
    overflow hidden
    padding 0
    width 100%
    .border-container
        height 100%
        width 100%
        padding 0
        .dijitBorderContainer-dijitContentPane
            padding 0
        .dijitBorderContainer-child
            border-left none
            border-right none
            border-bottom none
        .dijitSplitter
            background-color $background-grey

    /* NAV BAR */
    .navbar-brand
        font-size 28px
        padding-top 18px
        color white
    .version
        display inline
        font-size 12px
        letter-spacing 0
        padding 0
        text-decoration none
    .version:hover
        text-decoration underline !important

    /* AUTH PANE */
    .auth-pane
        top: 50px
        background-color: $background-grey
        min-height: 34px;
        border-radius: 0;
        border-bottom: 1px solid $border-color;
        .navbar-text, .navbar-btn
            margin-top: 0;
            margin-bottom: 0;
            padding: 6px 0;

    /* CENTER (MAP) */
    .center
        padding 0
    .map-div
        width 100%
        top 100px
        bottom 0
        position absolute
        .esriSimpleSliderTL
            background-color $background-grey

        .esriSimpleSliderTL,
        .esriSimpleSliderVertical .esriSimpleSliderIncrementButton
            border-color $border-color

        .esriSimpleSliderVertical .esriSimpleSliderIncrementButton
            border-bottom-color $border-color

        .selectorMain
            right 10px

        // fix tooltip collision with bootstrap
        .tooltip
            opacity 1
        .layer-selector
            box-shadow none
            border 1px solid $border-color
            z-index 9999

        .sherlock
            right 70px
            top 15px
            .spinner
                position absolute !important
                bottom auto !important
                left auto !important
                top auto !important
        .sherlock-2
            top 50px
        .esriMapContainer g image
            cursor pointer

    /* GRID */
    [data-dojo-attach-point='gridContainer']
        height $grid-height

/* GENERAL STUFF */
/* remove orange outline in chrome */
*:focus
    outline none !important
