@import '../filters/resources/DateFilter'
@import '../filters/resources/ListFilter'
@import '../filters/resources/SpeciesLengthFilter'

.filter-container
    position absolute
    top 20px
    left 70px
    z-index 1
    width 350px
    .navbar
        min-width 0
        margin-bottom 0
        select
            margin-left 10px
            width 215px
    .container-fluid
        padding 10px
    .panel
        margin-bottom 3px
