.grid {
  height: 100%;
}
.grid [role='tabpanel'] {
  height: 100%;
}
.grid [role='tabpanel'] .tab-content {
  top: 47px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
.grid [role='tabpanel'] .tab-content .tab-pane,
.grid [role='tabpanel'] .tab-content .dgrid {
  height: 100%;
  width: 100%;
}
.grid button.btn-link {
  padding: 10px 15px;
}
.grid .nav-tabs {
  margin-bottom: 5px;
  padding-left: 5px;
  padding-top: 5px;
}
.grid .dgrid .dgrid-header-row {
  background-color: rgba(231,231,231,0.9);
}
.grid .dgrid .dgrid-row-odd {
  background-color: #f5f5f5;
}
.grid .dgrid .dgrid-cell.field-Id {
  width: 0;
}
.grid .dgrid .dgrid-cell {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.grid [data-dojo-attach-point='clearSelectionBtnContainer'] button {
  margin-right: 7px;
  margin-top: 3px;
}
