<div>
    <div data-dojo-attach-point="invalidMessage" class="hidden">
        <div class="alert alert-danger">
            Value must be a positive, whole number!
        </div>
    </div>
    <div data-dojo-attach-point="minMaxMessage" class="hidden">
        <div class="alert alert-danger">
            Min must be less that max!
        </div>
    </div>
    <table>
        <tr>
            <td>
                <select class="form-control" data-dojo-attach-point="species"></select>
            </td>
            <td>
                <div class="input-group">
                    <div class="input-group-addon">Min</div>
                    <input type="number" min="0" class="form-control" data-dojo-attach-point="min" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <div class="input-group-addon">Max</div>
                    <input type="number" min="0" class="form-control" data-dojo-attach-point="max" />
                </div>
            </td>
        </tr>
    </table>
</div>
